# Pandas Transform 실전 연습 문제

### 0. 데이터 불러오기

In [4]:
import pandas as pd
import numpy as np

In [8]:
sal = pd.read_csv('Salaries.csv')
sal = pd.read_csv("Salaries.csv")

/Users/jooyoungson/Library/Python/3.7/lib/python/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
sal.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

In [10]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148645 entries, 0 to 148644
Data columns (total 13 columns):
Id                  148645 non-null int64
EmployeeName        148645 non-null object
JobTitle            148645 non-null object
BasePay             148040 non-null float64
OvertimePay         148645 non-null float64
OtherPay            148645 non-null float64
Benefits            112486 non-null float64
TotalPay            148645 non-null float64
TotalPayBenefits    148645 non-null float64
Year                148645 non-null int64
Notes               0 non-null float64
Agency              148645 non-null object
Status              38114 non-null object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB

### 1. 평균 basepay는 얼마인가요?

In [13]:
sal['BasePay'].mean()

66327.68895967308

### 2. 최대 OvertimePay는 얼마인가요?

In [15]:
sal['OvertimePay'].max()

245131.88

### 3. JOSEPH DRISCOLL의 job title은 무엇인가요?

In [16]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

### 4. JOSEPH DRISCOLL의 급여는 얼마인가요? (benefits 포함해서)

In [17]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

### 5. 월급(Benefit포함) 이 가장 높은 사람은 누구인가요?

In [18]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

### 6. 월급(Benefit포함) 이 가장 낮은 사람은 누구인가요?

In [19]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
110530,110531,David P Kucia,Police Officer 3,NaN,0.0,0.0,-33.89,0.0,-33.89,2013,NaN,San Francisco,NaN

### 7. 2011~2014년 동안의 BasePay의 평균은 얼마 인가요?

In [20]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66573.154204
Name: BasePay, dtype: float64

### 8. JobTitle의 종류는 몇개 인가요?

In [21]:
sal['JobTitle'].nunique()

2158

### 9. JobTitle중 가장 많은 상위 5개의 JobTitle은 무엇인가요?

In [22]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

### 10. Chief 란 단어를 갖는 job title은 몇개인가요? (lambda 함수를 사용해 보세요)

In [23]:
def chief_string(title):
    if 'chief' in title.lower().split(): 
        return True
    else:
        return False

In [24]:
sum(sal['JobTitle'].apply(lambda x : chief_string(x)))

477