## 반복문 : Loop
1. while
1. break
1. continue
1. for

### 1. while
- condition이 True이면 while 안쪽의 code가 실행 후 다시 condition을 확인하여 True이면 code를 실행을 반복합니다.
- condition이 False가 될때까지 code가 반복적으로 실행됩니다.
```
while <condition>:
    <code>
```
\* while 은 잘못사용하면 무한루프에 빠지기 때문에 주의해서 사용해야 합니다.

In [1]:
a = 3
while a:
    print(a)
    a -= 1
a

3
2
1

0

##### Quiz 1
- 아래의 ls 리스트의 값을 while 문을 사용하여 다 더하는 코드를 작성하세요.
```
ls = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

### 2. break
- 반복문이 실행되던 중간에 break를 만나게 되면 반복문이 종료됩니다.

In [2]:
a = 3
while a:
    print(a)
    if a == 2:
        break
    a -= 1
a

3
2

2

In [3]:
# 무한 루프 : Kernel - Interrupt로 코드의 실행을 중단
while True:
    a = 1

### 3. countinue
- 반복문이 실행되던 중간에 countinue를 만나게 되면 반복문 구문의 최상단으로 올라가서 코드가 수행됩니다.

In [4]:
a = [1, 2, 3, 4, "q"]
idx = 0

while True:
    data = a[idx]
    idx += 1

    if data == 'q':
        break
    elif data % 2 == 0:
        continue

    print(data)

idx

1
3

5

##### Quiz 2
- `q`를 입력할때 까지 계속 값을 입력받아 입력받은 값을 `q`를 입력할때 리스트로 출력하는 코드를 작성하세요. 입력 데이터를 받을때는 몇번째 입력인지 출력해주세요.
```
1번째 입력 (종료 : q) : dss
2번째 입력 (종료 : q) : data
3번째 입력 (종료 : q) : science
4번째 입력 (종료 : q) : q
['dss', 'data', 'science']
```

### 4. For
iterable의 데이터를 하나씩 꺼내서 value에 대입시킨후 code를 수행합니다. code는 iteralbe의 갯수 만큼 실행됩니다.
```
for <value> in <iterable> :
    <code>
```
1. range
1. enumerate
1. zip

In [6]:
ls = [0, 1, 2, 3, 4]
for value in ls:
    print(value, end=" ")

0 1 2 3 4

In [7]:
ls = ["a", "b", "c", [1, 2]]
for value in ls:
    print(value, type(value))

a <class 'str'>
b <class 'str'>
c <class 'str'>
[1, 2] <class 'list'>

dictionary에서 반복문을 사용할때는 items 함수를 사용해야 key, value 값을 모두 가져올수 있습니다.

In [8]:
dic = {"A": 1, "B": 2}
for key in dic:
    print(key)

A
B

In [9]:
dic.items()

dict_items([('A', 1), ('B', 2)])

In [10]:
for key, value in dic.items():
    print(key, value)

A 1
B 2

##### Quiz 3
- for문을 이용하여 아래 리스트에 있는 숫자를 모두 더하는 코드를 작성하세요.
- for, 할당연산자 사용
```
numbers = [1, 3, 5, 8, 10, 14]
result : 41
```

#### 4.1 range
- list를 간편하게 생성하기 위한 함수입니다.
```
range(end)
range(start, end)
range(start, end, stride)
```

In [1]:
ls = [1, 2, 3]
ls

[1, 2, 3]

In [2]:
for _ in ls:
    print("dss")

dss
dss
dss

In [3]:
range(3)

range(0, 3)

In [4]:
for _ in range(3):
    print("dss")

dss
dss
dss

range(end)

range(start, end)

In [5]:
list(range(3))

[0, 1, 2]

In [7]:
for value in range(3):
    print(value, type(value))

0 <class 'int'>
1 <class 'int'>
2 <class 'int'>

In [19]:
list(range(2, 5))

[2, 3, 4]

range(start, end, stride)

In [20]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [21]:
list(range(10, 1, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [8]:
a = 0
for _ in range(3):
    a += 1
a

3

##### Quiz 4
- 5를 입력했을때 아래와 같이 별이 출력되도록 코드를 작성하세요.

```
*
**
***
****
*****
```

##### Quiz 5
- 5를 입력했을때 아래와 같이 별이 출력되도록 코드를 작성하세요.

```
    *
   **
  ***
 ****
*****
```

##### Quiz 6
- 5를 입력했을때 아래와 같이 별이 출력되도록 코드를 작성하세요.
- 홀수만 입력 가능합니다.

```
  *
 ***
*****
```

##### Quiz 7
- 구구단의 단을 입력하면 해당 단을 출력하는 코드를 작성하세요.

```
input number : 4

4단
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
```

##### Quiz 8
- 아래의 2개의 리스트 데이터를
```
subjects = ["korean", "english", "math", "science"]
points = [100, 80, 90, 60]
```
- 아래와 같이 딕셔너리 데이터로 만드는 코드를 작성하세요.
```
{'english': 80, 'korean': 100, 'math': 90, 'science': 60}
```

#### 4.2 enumerate
- 리스트 데이터를 index와 value값을 동시에 사용할 수 있게 해주는 함수입니다.

In [26]:
# 과목이름과 과목에 대한 순서를 출력
subjects = ["korean", "english", "math", "science"]
number = 1
for value in subjects:
    print(number, value)
    number += 1

1 korean
2 english
3 math
4 science

In [27]:
subjects = ["korean", "english", "math", "science"]
for idx, value in enumerate(subjects):
    print(idx + 1, value)

1 korean
2 english
3 math
4 science

In [28]:
tuple(enumerate(subjects))

((0, 'korean'), (1, 'english'), (2, 'math'), (3, 'science'))

#### 4.3 zip
n개의 리스트를 같은 index끼리 묶어주는 함수

In [29]:
# zip을 이용하여 list를 dictionary로 묶어줍니다.
subjects = ["korean", "english", "math", "science"]
points = [100, 80, 90, 60]
dict(zip(subjects, points))

{'korean': 100, 'english': 80, 'math': 90, 'science': 60}

In [30]:
tuple(zip(subjects, points))

(('korean', 100), ('english', 80), ('math', 90), ('science', 60))

In [31]:
# 3개의 데이터를 묶어줌 : dictionary로 생성되지 않음
grades = ["A", "C", "B", "D"]
tuple(zip(subjects, points, grades))

(('korean', 100, 'A'),
 ('english', 80, 'C'),
 ('math', 90, 'B'),
 ('science', 60, 'D'))

##### * 랜덤 함수

In [42]:
import random

In [43]:
# 1 ~ 10 중 하나의 정수가 랜덤하게 출력
random.randint(1, 10)

5

In [44]:
# 1,5,9 중 하나의 데이터가가 랜덤하게 출력
random.choice([1, 5, 9])

5

##### Quiz 9
- 로또번호를 출력하는 코드를 작성하세요. 1 ~ 45 사이의 숫자를 랜덤으로 뽑되 숫자가 중복되면 안됩니다.
- while, break, if, in, list, append 사용

```
[3, 8, 15, 22, 27, 29]
```