계산기 무한 반복

In [13]:
c=""
a, b=0,0

while True:
    a=int(input("계산할 첫 번째 수 입력: "))
    b=int(input("계산할 두 번째 수 입력: "))
    c=input("게산할 연산자를 입력: ")
    
    if c=="+" :
        print(" %d+%d=%d 입니다. \n" % (a, b, a+b))
    elif c=="-":
        print(" %d-%d=%d 입니다. \n" % (a, b, a-b))
    elif c=="/":
        print(" %d/%d=%d 입니다. \n" % (a, b, a/b))
    elif c=="*":
        print(" %d*%d=%d 입니다. \n" % (a, b, a*b))
    elif c=="%":
        print("%d %% %d = %d 입니다. \n" % (a, b, a%b))
    elif c=="**":
        print("%d ** %d = %d 입니다. \n" % (a, b, a**b))
    else:
        print("알 수 없는 연산자입니다.")

계산할 첫 번째 수 입력: 22
계산할 두 번째 수 입력: 33
게산할 연산자를 입력: *
 22*33=726 입니다.

계산할 첫 번째 수 입력: 10
계산할 두 번째 수 입력: 4
게산할 연산자를 입력: %
10 % 4 = 2 입니다.

KeyboardInterrupt:

In [ ]:
for i in range(1, 100):
    print("for문을 %d번 실행했습니다."%i)
    break

In [17]:
hap=0
a, b=0, 0

print("계산을 그만하고 싶을 때 첫 번째 수로 0을 입력하세요.\n")
print("----------------")
while True:
    a=int(input("더할 첫 번째 수 입력: "))
    if a==0:
        break
    b=int(input("더할 두 번째 수 입력: "))
    hap=a+b
    print("%d+%d=%d \n"%(a,b,hap))

print("0을 입력해서 반복문을 탈출했습니다.")

계산을 그만하고 싶을 때 첫 번째 수로 0을 입력하세요.

----------------
더할 첫 번째 수 입력: 1
더할 두 번째 수 입력: 2
1+2=3

더할 첫 번째 수 입력: 3
더할 두 번째 수 입력: 4
3+4=7

더할 첫 번째 수 입력: 5
더할 두 번째 수 입력: 6
5+6=11

더할 첫 번째 수 입력: 0
0을 입력해서 반복문을 탈출했습니다.

In [18]:
hap, i =0, 0

for i in range(1,101):
    hap +=i
    
    if hap>=1000:
        break
        
print("1~100의 합에서 최초로 1000이 넘는 위치: %d"%i)

1~100의 합에서 최초로 1000이 넘는 위치: 45

In [19]:
hap, i=0, 0

for i in range(1,101):
    if i%3==0: #3의 배수는 빼고 더하기
        continue
        
    hap += i
    
print("1~100의 합계(3의 배수 제외): %d" % hap)

1~100의 합계(3의 배수 제외): 3367

In [22]:
hap, i = 0,0
for i in range(1,101):
    if i%9==0:
        continue
    
    hap += i

print("1~100 합계(9의 배수 제외): %d"%hap)

1~100 합계(9의 배수 제외): 4456

In [23]:
hap, i =0, 0
for i in range(1,101):
    if i%3==0:
        hap+=i
    else:
        continue
print("1~100 합계(3의 배수만: %d"%hap)

1~100 합계(3의 배수만: 1683

In [1]:
sum=0
number=1

while number<=100:
    if number %3 ==0:
        sum=sum+number
    number=number+1
print("1부터 100 사이의 모든3의 배수의 합은 %d입니다." %sum)

1부터 100 사이의 모든3의 배수의 합은 1683입니다.

In [ ]:
hap = 0
i = 1
while i<100:
    if i%3==0:
        hap+=i
        continue
print("1부터 1-- %d"%i)

In [15]:
for f_temp in range(0, 100+1, 10):
    c_temp=(f_temp-32)*5/9
    print("%d -> %d" %(f_temp, c_temp))

0 -> -17
10 -> -12
20 -> -6
30 -> -1
40 -> 4
50 -> 10
60 -> 15
70 -> 21
80 -> 26
90 -> 32
100 -> 37

In [9]:
for t in range(0, 100+1, 10):
    c=(t-32.0) * 5.0/9.0
    print(t, "->", round(c, 2))

0 -> -17.78
10 -> -12.22
20 -> -6.67
30 -> -1.11
40 -> 4.44
50 -> 10.0
60 -> 15.56
70 -> 21.11
80 -> 26.67
90 -> 32.22
100 -> 37.78

사용자가 입력한 정수의 합을 계산하는 프로그램을 작성하자. 사용자가 0을 입력하기 전까지 정수를 계속하여 읽도록 한다.

In [26]:
sum=0
while True:
    x = int(input("정수를 입력하시오: "))
    if x == 0:
        break
    sum=sum+x
print("합은 ",sum,"입니다.")

정수를 입력하시오: 1
정수를 입력하시오: 2
정수를 입력하시오: 3
정수를 입력하시오: 4
정수를 입력하시오: 0
10

사용자에게 곱셈 퀴즈를 내고 답을 사용자로부터 받는 프로그램에서 사용자가 올바른 답을 입력할 때까지 반복하도록 수정하여 보자. while문 사용

In [31]:
while True:
    x = int(input("3X9= "))
    if x == 27:
        break
    else:
        print("오답입니다. \n")
print("정답입니다.")

3X9= 1
오답입니다.

3X9= 2
오답입니다.

3X9= 27
정답입니다.

In [32]:
ans=0
while ans != 3*9:
    ans = int(input("3X9는"))
print("맞았습니다.")

3X9는1
3X9는3
3X9는27
맞았습니다.

무한 루프 break

while True:
    반복문장
    반복문장
    if 조건:
        break

In [36]:
while True:
    color = input("신호등 색상을 입력하시오 ")
    if color=="blue":
        break
print("전진!!")

신호등 색상을 입력하시오 red
신호등 색상을 입력하시오 red
신호등 색상을 입력하시오 orange
신호등 색상을 입력하시오 blue
전진!!

In [39]:
a=[]
f=open("ss.txt", "r", encoding='utf8')
for i in range(10):
    a.append(f.readline().split())
    
f.close()

# 함수

In [41]:
aa=[10, 20, 30, 40, 50]
aa[0]

10

In [42]:
aa[1:3]

[20, 30]

In [43]:
aa[3:]

[40, 50]

In [44]:
ss="파이썬만세"
ss[0]

'파'

In [46]:
ss[1:3]

'이썬'

In [47]:
ss[3:]

'만세'

In [48]:
ss="파이썬"+'만세'
ss

'파이썬만세'

In [49]:
ss='파이썬'*3
ss

'파이썬파이썬파이썬'

In [50]:
ss='파이썬abcd'
len(ss)

7

In [51]:
ss='파이썬짱!'

sslen=len(ss)
for i in range(0, sslen):
    print(ss[i]+'$', end='')

파$이$썬$짱$!$

In [61]:
inStr,outStr="", ""
count, i = 0, 0

inStr = input("문자열을 입력하세요: ")
count = len(inStr)

for i in range(0, count):
    outStr+=inStr[count-(i+1)]

print("내용을 거꾸로 출력 --> %s" % outStr)

문자열을 입력하세요: df
내용을 거꾸로 출력 --> fd

# 문자열 함수 활용

In [62]:
ss='Python is Easy. 그래서 programming이 재미있지 말입니다 ^^'
ss.upper()

'PYTHON IS EASY. 그래서 PROGRAMMING이 재미있지 말입니다 ^^'

In [63]:
ss.lower()

'python is easy. 그래서 programming이 재미있지 말입니다 ^^'

In [64]:
ss.title().swapcase()

'pYTHON iS eASY. 그래서 pROGRAMMING이 재미있지 말입니다 ^^'

In [65]:
ss.title()

'Python Is Easy. 그래서 Programming이 재미있지 말입니다 ^^'

In [70]:
ss=input("문자열 입력 ==> ")
print("출력 문자열 ==>", end="")


if ss.startswith('(')== False:
    print("(", end='')

print(ss, end='')

if ss.endswith(')') == False:
    print(")", end='')

문자열 입력 ==> hello
출력 문자열 ==>(hello)

In [71]:
ss='    파    이   썬    '
ss.strip()

'파    이   썬'

In [72]:
ss.rstrip()

'    파    이   썬'

In [73]:
ss.lstrip()

'파    이   썬    '

In [74]:
ss='----파---이---썬----'
print(ss.strip('-'))

파---이---썬

In [77]:
ss='<<<파 <<이>> 썬>>>'
print(ss.strip('<>'))

파 <<이>> 썬

In [81]:
inStr="  한글  Python  프로그래밍  "
outStr =""

for i in range(0, len(inStr)):
    if inStr[i] != ' ':
        outStr += inStr[i]
    
print("원 문자열, ==> "+'['+inStr+']')
print("공백 제거, ==> "+'['+outStr+']')

원 문자열, ==> [  한글  Python  프로그래밍  ]
공백 제거, ==> [한글Python프로그래밍]

In [82]:
ss = '열심히 파이썬을 공부중~~'
ss.replace('파이썬', 'Python')

'열심히 Python을 공부중~~'

In [90]:
ss=input("문자열 입력 ==> ")
print("출력 문자열 ==> ", end="")
for i in range(0, len(ss)):
    if ss[i] != 'o':
        print(ss[i], end='')
    else:
         print('$', end='')

문자열 입력 ==> po
출력 문자열 ==> p$

In [91]:
ss='Python을 열심히 공부 중'
ss.split()

['Python을', '열심히', '공부', '중']

In [92]:
ss='하나:둘:셋'
ss.split(':')

['하나', '둘', '셋']

In [93]:
ss='하나\n둘\n셋'
ss.splitlines()

['하나', '둘', '셋']

In [95]:
ss='%'
ss.join('파이썬')

'파%이%썬'

In [106]:
ss = input("날짜(연/월/일) 입력 ==> ")
ssList=ss.split('/')

print("입력한 날짜의 10년 후==> ", end="")
print(str(int(ssList[0]) + 10) + '년', end='')
print(ssList[1] + "월", end="")
print(ssList[2] + '일')

날짜(연/월/일) 입력 ==> 2019/12/31
입력한 날짜의 10년 후==> 2029년12월31일

# 함수

In [107]:
def print_address():
    print("서울특별시 종로구 1번지")
    print("파이썬 빌딩 7층")
    print("홍길동")

In [108]:
print_address()

서울특별시 종로구 1번지
파이썬 빌딩 7층
홍길동

In [111]:
## 함수 정의 부분
def plus(v1, v2):
    result=0
    result=v1+v2
    return result

##변수 선언 부분
hap = 0

# 메인 코드
hap=plus(100, 200)
print("100과 200의 plus() 함수 결과는 %d" % hap)

100과 200의 plus() 함수 결과는 300

# 계산기

In [115]:
# 함수 정의
def calc(v1, v2, op):
    result=0
    if op == '+':
        result = v1 + v2
    elif op == '-':
        result = v1 - v2
    elif op == '*':
        result = v1 * v2
    elif op == '/':
        result = v1 / v2
    
    return result

#변수 선언 부분
res = 0
var1, var2, oper=0,0, ""

# 메인 코드
var1 = int(input("첫 번째 숫자 입력: "))
oper=input("계산 입력(+,-,*,/): ")
var2 = int(input("두 번째 숫자 입력: "))

res = calc(var1, var2, oper)

print("## 계산기: %d %s %d = %d" % (var1, oper,var2,res))

첫 번째 숫자 입력: 4
계산 입력(+,-,*,/): +
두 번째 숫자 입력: 1
## 계산기: 4 + 1 = 5

In [117]:
#함수 정의 부분
def para_func(*para):
    result=0
    for num in para:
        result = result + num
    
    return result

# 변수 선언 부분
hap = 0

# 메인 코드
hap = para_func(10, 20)
print("매개변수 2개 함수 호출 결과 ==> %d" % hap)
hap = para_func(10, 20, 30)
print("매개변수 3개 함수 호출 결과 ==> %d" % hap)

매개변수 2개 함수 호출 결과 ==> 30
매개변수 3개 함수 호출 결과 ==> 60

In [119]:
def dic_func(**para):
    for k in para.keys():
        print("%s --->%d명입니다" %(k, para[k]))

dic_func(아이오아이=11, 소녀시대=8, 걸스데이=4, AOA=7)

아이오아이 --->11명입니다
소녀시대 --->8명입니다
걸스데이 --->4명입니다
AOA --->7명입니다

In [120]:
def FtoC(temp_f):
    temp_c = (5.0 * (temp_f - 32.0)) / 9.0
    return temp_c

temp_f = float(input("화씨온도를 입력하시오: "))

#FtoC() 함수를 호출한다.
print(FtoC(temp_f))

화씨온도를 입력하시오: 23
-5.0

# 소수 판별

In [ ]:
def is_prime(num):
    if num != 1:
        for i in range(2, num):
            if num % i == 0:
                return False
    else:
        return False

In [121]:
import random

#함수 선언
def getNumber():
    return random.randrange(1, 46)

# 변수 선언
lotto = []
num = 0

#메인 코드
print("** 로또 추첨을 시작합니다. ** \n")

while True:
    num = getNumber()
    
    if lotto.count(num) == 0:
        lotto.append(num)
    print(lotto)
    if len(lotto) >= 6:
        break
        
print("추첨된 로또 번호 ==> ", end='')
lotto.sort()
for i in range(0,6):
    print("%d " % lotto[i], end='')

** 로또 추첨을 시작합니다. **

[30]
[30, 35]
[30, 35, 3]
[30, 35, 3, 43]
[30, 35, 3, 43, 38]
[30, 35, 3, 43, 38, 16]
추첨된 로또 번호 ==> 3 16 30 35 38 43

In [124]:
aa = []
for i in range(0, 4):
    aa.append(0)
hap = 0

for i in range(0,4):
    aa[i]=int(input(str(i+1)+"번째 숫자: "))
    
hap=aa[0]+aa[1]+aa[2]+aa[3]

print("합계 ==> %d " % hap)

1번째 숫자: 10
2번째 숫자: 20
3번째 숫자: 30
4번째 숫자: 40
합계==>100

In [125]:
aa=[]
bb=[]
value=0

for i in range(0, 100):
    aa.append(value)
    value+=2
    
for i in range(0, 100):
    bb.append(aa[99-i])
    
print("bb[0]은 %d, bb[99]는 %d 입력됨 " % (bb[0], bb[99]))

bb[0]은 198, bb[99]는 0 입력됨

In [126]:
aa=[10, 20, 30, 40]
print("aa[-1]은 %d, aa[-2]는 %d" % (aa[-1], aa[-2]))

aa[-1]은 40, aa[-2]는 30

In [127]:
letters=['A','B','C','D','E','F']
letters[:3]

['A', 'B', 'C']

In [129]:
letters[3:]

['D', 'E', 'F']

In [133]:
letters[:]

['A', 'B', 'C', 'D', 'E', 'F']

In [131]:
heroes=["아이언맨", "토르","헐크","스칼렛 위치"]
heroes[1]="닥터 스트레인지"

In [132]:
print(heroes)

['아이언맨', '닥터 스트레인지', '헐크', '스칼렛 위치']

In [134]:
heroes.append("스파이더맨")
print(heroes)

['아이언맨', '닥터 스트레인지', '헐크', '스칼렛 위치', '스파이더맨']

In [135]:
heroes.insert(1, "배트맨")
print(heroes)

['아이언맨', '배트맨', '닥터 스트레인지', '헐크', '스칼렛 위치', '스파이더맨']

In [136]:
heroes.remove("스칼렛 위치")
print(heroes)

['아이언맨', '배트맨', '닥터 스트레인지', '헐크', '스파이더맨']

In [137]:
del heroes[0]
print(heroes)

['배트맨', '닥터 스트레인지', '헐크', '스파이더맨']

In [138]:
last_hero = heroes.pop()
print(last_hero)

스파이더맨

In [139]:
heroes=["아이언맨","토르","헐크","스칼렛 위치"]

In [140]:
numbers =[9,6,7,1,8,4,5,3,2]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 실습

In [159]:
myList= [30, 10, 20]
print("현재 리스트: %s" % myList)

현재 리스트: [30, 10, 20]

In [160]:
myList.append(40)
print("append(40) 후의 리스트: %s" % myList)

append(40) 후의 리스트: [30, 10, 20, 40]

In [161]:
print("pop()으로 추출한 값 %s" % myList.pop())
print("pop() 후의 리스트 %s" % myList)

pop()으로 추출한 값 40
pop() 후의 리스트 [30, 10, 20]

In [162]:
myList.sort()
print("sort() 후의 리스트: %s" % myList)

sort() 후의 리스트: [10, 20, 30]

In [163]:
myList.reverse()
print("reverse() 후의 리스트: %s" % myList)

reverse() 후의 리스트: [30, 20, 10]

In [166]:
print("20값의 위치: %s" % myList.index(20))

20값의 위치: 1

In [167]:
myList.insert(2, 222)
print("insert(2, 222)후의 리스트:" % myList)

insert(2, 222)후의 리스트:

In [168]:
myList.remove(222)
print("remove(222) 후의 리스트: %s" % myList)

remove(222) 후의 리스트: [30, 20, 10]

In [169]:
myList.extend([77, 88, 77])
print("extend([77, 88, 77]) 후의 리스트: %s" % myList)

extend([77, 88, 77]) 후의 리스트: [30, 20, 10, 77, 88, 77]

In [170]:
myList.count(77)
print("77 값의 개수 : %d" % myList.count(77))

77 값의 개수 : 2

# 튜플

In [171]:
tt1=(10, 20, 30)
tt1
tt2=(10, 20, 30)
tt2

(10, 20, 30)

In [174]:
dic1={1:'a', 2:'b', 3:'c'}
dic1

{1: 'a', 2: 'b', 3: 'c'}

In [176]:
student1={'학번':1000, '이름':'홍길동', '학과':'열공학과'}
student1

{'학번': 1000, '이름': '홍길동', '학과': '열공학과'}

In [178]:
student1['연락처']='010-1111-2222'
student1

{'학번': 1000, '이름': '홍길동', '학과': '열공학과', '연락처': '010-1111-2222'}

In [179]:
student1['학과']='파이썬학과'
student1

{'학번': 1000, '이름': '홍길동', '학과': '파이썬학과', '연락처': '010-1111-2222'}

In [180]:
#del(딕셔너리이름[키]) 함수를 사용하여 삭제
del(student1['연락처'])
student1

{'학번': 1000, '이름': '홍길동', '학과': '파이썬학과'}

In [181]:
student1['학번']
student1['이름']
student1['학과']

'파이썬학과'

In [183]:
student1.get('이름')

'홍길동'

In [184]:
student1['주소'] 
student1.get('주소')

KeyError: '주소'

In [185]:
student1.keys()

dict_keys(['학번', '이름', '학과'])

In [186]:
list(student1.keys())

['학번', '이름', '학과']