### 연산자: Operators
- 산술 연산자
- 비교 연산자
- 할당 연산자
- 논리 연산자
- 멤버 연산자

### 1. 산술 연산자
- +,-,*,/, //, %, **

In [3]:
print(2+4)

6

In [4]:
a,b=2,4
print(a+b)

6

In [5]:
print(2-4)

-2

In [6]:
print(2*4)

8

In [7]:
print(10/3)
print(10//3)

3.3333333333333335
3

##부동소수점 문제
- 10진수를 2진수로 변환해서 계산할 때 발생되는 문제

In [9]:
0.1 + 0.2

0.30000000000000004

In [10]:
0.1 + 0.2 == 0.3

False

In [11]:
a,b = 0.1,0.2
(a,b) == 0.3

False

In [12]:
a = a*10
b = b*10
(a+b)/10

0.3

# 연산자 우선순위: ** -> *, /,//,% -> +,-

In [14]:
# 정수로 변환해준 후에 실수로 바꿔줌

In [17]:
# 반올림
a,b = 0.1,0.2
a + b,1

(0.30000000000000004, 1)

In [18]:
round(a+b,1)

0.3

In [21]:
#고정소수점으로 표현
from decimal import Decimal
float(Decimal(str(a)) + Decimal(str(b)))

0.3

### Quiz1
- 아래의 데이터의 총점과 평균을 구하세요
'''
data = {"korean":96.3,"english":78.4,"science":87.2,"math":92.4}
'''

- sum,len 함수를 이용
- 정수로 변경, 반올림, 고정소수점

In [47]:
data = {"korean":96.3,"english":78.4,"science":87.2,"math":92.4}

In [51]:
# 소수점을 없애고 계산
total = 0
total = 10*data["korean"]+10*data["english"]+10*data['science']+10*data['math']
total = total/10
total, total/len(data)

(354.3, 88.575)

In [54]:
#반올림으로 해결
total = round(sum(data.values()),1)
total, total/len(data)

(354.3, 88.575)

In [56]:
#고정 소수점으로 해결
from decimal import Decimal
total = 0
total = Decimal(str(data["korean"]))
total = total + Decimal(str(data["english"]))
total = total + Decimal(str(data["science"]))
total = total + Decimal(str(data["math"]))
total, total/len(data)

(Decimal('354.3'), Decimal('88.575'))

In [25]:
data = {"korean":96.3,"english":78.4,"science":87.2,"math":92.4}

In [26]:
data.values()

dict_values([96.3, 78.4, 87.2, 92.4])

In [35]:
A = sum(data.values())
A

354.29999999999995

In [36]:
B= len(data)
B

4

In [37]:
C=sum(data.values())/len(data)
C

88.57499999999999

In [44]:
round(A/B,3)

88.575

In [46]:
round(A,5)

354.3

In [34]:
float(Decimal(str(A)))

354.29999999999995

In [39]:
float(Decimal(str(C)))

88.57499999999999

In [43]:
(A * 100000) / (B * 100000)

88.57499999999997

### 2. 비교연산자
- ==,!=,>, <, >=, <=

In [57]:
print(a==b)

False

In [58]:
a,b

(0.1, 0.2)

In [59]:
print(a!=b)

True

In [60]:
print(a>b)

False

In [61]:
print(a<b)

True

### Quiz2
- 산술연산과 비교연산을 이용하여 data가 홀수일 때는 True, 짝수일 때는 False를 출력하는 코드를 작성하세요.

In [69]:
data = input("number:")
data = int(data)

if data%2 ==0:
    print(False)
else:
    print(True)

number:5
True

In [70]:
data = 3
result = data % 2 ==1
result

True

In [71]:
data = 4
data % 2 ==1

False

### 3. 할당 연산자
- 대입 연산자와 산술연산자를 사용하여 만들어진 연산자
- +=, +=, *=, /=, *=, %=, //=

In [72]:
data = 5
print(data)

5

In [73]:
data = data + 10
print(data)

15

In [74]:
data = 5
data += 10
print(data)

15

### quiz 3
- 할당 연산자를 이용해서 리스트 안에 있는 숫자의 평균을 구하시오. 
- ls = [87,76,98,69]
- result = 82.5

In [75]:
ls = [87,76,98,69]
result = 0
result = sum(ls)/len(ls)
print(result)

82.5

In [77]:
result = 0
result += ls[0]
result += ls[1]
result += ls[2]
result += ls[3]
result /= len(ls)
print(result)

82.5

### 4. 논리 연산자
- 논리의 참과 거짓을 나타내는 연산자
- and: 두개의 논리가 모두 True인 경우 True 
- or: 두개의 논리가 모두 False인 경우 False
- not: True는 False로 False는 True로

In [78]:
print(True and True)
print(True and False)

True
False

In [80]:
print(True or True)
print(True or False)

True
True

In [81]:
print(not(True))

False

In [84]:
a,b = 1,2
(a < b)or(a==b)

True

### Quiz4
- 산술연산자와 비교연산자, 논리연산자를 사용해서 변수 a가 3또는 5의 배수일 때 True를 출력하는 코드를 작성하세요!

In [88]:
a = input("number: ")
a = int(a)
if (a%3==0) or (a%5==0):
    print(True)
else:
    print(False)

number: 2
False

In [93]:
data = 13
(data%5==0) or (data%3==0)

False

### Quiz 5
- 변수 a,b가 있는데 둘다 10이하인 경우 True를 출력하는 연산자를 만드시오.

In [95]:
a=int(input('number_A:'))
b=int(input('number_B:'))

if a <=10 and b <=10:
    print(True)
else:
    print(False)

number_A:22
number_B:8
False

### 5. 멤버 연산자
데이터 집합
- (요소) in (데이터 집합): 데이터 집합에서 특정 데이터가 있는지 확인해서 있으면 True를 Return
- not in: 데이터 집합에서 특정 데이터가 없으면 True를 Return

In [98]:
data =[1,2,3,4]
2 in data,5 in data

(True, False)

In [99]:
# 딕셔너리에서 사용하는 경우, defalut로 키값에서 데이터가 있는지 확인한다. 
data = {1:'one',2:'two',3:'three'}
2 in data

True

In [100]:
'two' in data

False

In [101]:
'two' in data.values()

True

In [102]:
'two' in data.items()

False

In [103]:
(2,'two') in data.items()

True